{ 
BasedOnStyle: LLVM,
AllowShortFunctionsOnASingleLine: None,
AllowShortIfStatementsOnASingleLine: false,
AllowShortLoopsOnASingleLine: false,
AlwaysBreakTemplateDeclarations: true,
AccessModifierOffset: -4,
AlwaysBreakBeforeMultilineStrings: true,
AlwaysBreakTemplateDeclarations: true,
BinPackParameters: false,
BreakBeforeBinaryOperators: true,
BreakBeforeBraces: Attach,
BreakConstructorInitializersBeforeComma: false,
ColumnLimit: 130,
ConstructorInitializerAllOnOneLineOrOnePerLine: true,
ConstructorInitializerIndentWidth: 4,
Cpp11BracedListStyle: true,
DerivePointerBinding: false,
IndentCaseLabels: false,
IndentFunctionDeclarationAfterType: true,
IndentWidth: 4,
MaxEmptyLinesToKeep: 1,
NamespaceIndentation: None,
PointerBindsToType: false,
SpaceAfterControlStatementKeyword: false,
SpaceBeforeAssignmentOperators: true,
SpaceInEmptyParentheses: false,
SpacesBeforeTrailingComments: 1,
SpacesInCStyleCastParentheses: false,
SpacesInParentheses: true,
Standard: C++11,
TabWidth: 4,
UseTab: Never }
