{ 
BasedOnStyle: LLVM,
AllowShortIfStatementsOnASingleLine: true,
AllowShortLoopsOnASingleLine: true,
AlwaysBreakTemplateDeclarations: true,
AccessModifierOffset: -2,
AlwaysBreakBeforeMultilineStrings: true,
AlwaysBreakTemplateDeclarations: true,
BinPackParameters: false,
BreakBeforeBinaryOperators: true,
BreakBeforeBraces: Stroustrup,
BreakConstructorInitializersBeforeComma: false,
ColumnLimit: 80,
ConstructorInitializerAllOnOneLineOrOnePerLine: true,
ConstructorInitializerIndentWidth: 2,
Cpp11BracedListStyle: true,
DerivePointerBinding: false,
IndentCaseLabels: false,
IndentFunctionDeclarationAfterType: true,
IndentWidth: 2,
MaxEmptyLinesToKeep: 1,
NamespaceIndentation: None,
PointerBindsToType: false,
SpaceAfterControlStatementKeyword: false,
SpaceBeforeAssignmentOperators: true,
SpaceInEmptyParentheses: false,
SpacesBeforeTrailingComments: 1,
SpacesInCStyleCastParentheses: false,
SpacesInParentheses: true,
Standard: C++11,
TabWidth: 2,
UseTab: Never }
